<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <adrianoteste>
            <general>
                <sendemail>1</sendemail>
                <email_template>adrianoteste_general_email_template</email_template>
            </general>
        </adrianoteste>
    </default>
</config>
